@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  overflow-x: hidden;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://cdn.discordapp.com/attachments/800673507557376021/1320098635094167703/image.png?ex=67685d28&is=67670ba8&hm=647ebe82067a02311e9c18d7e45135824c21589add6462be9695d38513aefbb8&");
  background-size: cover; /* Assure que l'image couvre tout l'écran */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image de fond */
}
